{% extends 'base.html.twig' %}

{% block title %}Events programme{% endblock %}

{% block body %}
    <h1>{{'hello' | trans}}</h1>
    <h2>{{'events' | trans}}</h2>
    {% if events|length > 0 %}

    <div class="row">
        {% for e in events %}
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/images/events/{{ e.picture }}" class="card-img-top" alt="{{ e.title }} - {{ e.description }}" height="250">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ path('event', {id: e.id}) }}">{{ e.title }}</a>
              </h5>
              <p class="card-text">{{ e.description }}</p>
            </div>
          </div>
        </div>

        {% endfor %}
    <div class="row">

    {% else %}
        <div>{{'no events' | trans}}</div>
    {% endif %}
{% endblock %}