{% extends 'base.html.twig' %}

{% block title %}Welcome Manifiesta !{% endblock %}

{% block body %}
    <h1>{{'hello' | trans}}</h1>

    <h2>TODO photo caroussel and text explanation</h2>
    <h2>{{'guests' | trans}}</h2>
    {% if guests|length > 0 %}
        {% for g in guests %}
            <h4>{{ g.name }}</h4>
            <small>
                {{ g.description }}
            </small>
            <img src="/images/guests/{{ g.picture }}" alt="{{ g.name }} - {{ g.description }}" height="100">
        {% endfor %}
    {% else %}
        <div>{{'no guests' | trans}}</div>
    {% endif %}
{% endblock %}